version: "3.9"
services:
  db:
    image: postgres:13.3-alpine
    environment:
      - POSTGRES_PASSWORD=postgrespass
    ports:
      - 5432:5432
    volumes:
      - ./scripts/db/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql